[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = "==2.0.3"
gunicorn = "*"
django-heroku = "*"
twilio = "==6.11.0"
certifi = "==2018.1.18"
chardet = "==3.0.4"
idna = "==2.6"
PyJWT = "==1.6.1"
PySocks = "==1.6.8"
pytz = "==2018.3"
requests = "==2.18.4"
six = "==1.11.0"
"urllib3" = "==1.22"
python-firebase = "*"
"django-bootstrap4" = "*"
sass = "*"
django-sass-processor = "*"
sendgrid = "*"
redis = "*"
rq = "*"
apscheduler = "*"

[requires]
python_version = "3.6"
